<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger - %msg%n" />
        </Console>
        <File name="ErrorFileAppender" fileName="logs\error.log" immediateFlush="false" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger - %msg%n" />
        </File>
    </Appenders>
    <Loggers>
        <Logger name="com.epam" level="info" additivity="false">
            <AppenderRef ref="LogToConsole" level="info" />
            <AppenderRef ref="ErrorFileAppender" level="error"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</Configuration>