body {
    margin: 0;
    font-family: "Century Gothic", serif;
}

#margin-div {
    width: 1500px;
    padding: 0 18px;
    text-align: justify;
}

#border-div {
    border-left: 1px ridge mediumturquoise;
    border-right: 1px ridge mediumturquoise;
    border-bottom: 1px ridge mediumturquoise;
}

#menu {
    text-align: justify;
    margin: 0;
    padding: 0;
    background-color: mediumturquoise;
}

li.menu {
    display: inline-block;
    border: 1px solid mediumturquoise;
    margin: 0;
    width: 494px;
}

a:link.menu, a:visited.menu {
    color: white;
    text-decoration: none;
}

a:hover.menu {
    color: yellowgreen;
}

a:active.menu {
    color: mediumturquoise;
    background-color: white;
    text-decoration: none;
}

a.menu {
    display: block;
    padding: 20px 0;
    text-align: center;
}

li.menu:hover {
    background-color: white;
    text-decoration: none;
}

li.menu:active {
    color: mediumturquoise;
    background-color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: yellowgreen;
}

h2 {
    text-align: center;
    color: darkturquoise;
}

h3 {
    text-align: center;
}

h5 {
    text-align: center;
    color: yellowgreen;
}

table {
    width: 100%;
}

p {
    font-family: "Century Gothic", serif;
    font-size: 1.4em;
    text-align: center;
    padding: 0 10px;
    line-height: 1.5;
}